[submodule "support/jsdom"]
	path = support/jsdom
	url = git://github.com/tmpvar/jsdom.git
[submodule "support/expresso"]
	path = support/expresso
	url = git://github.com/visionmedia/expresso.git
[submodule "support/should"]
	path = support/should
	url = git://github.com/visionmedia/should.js.git
[submodule "support/express"]
	path = support/express
	url = git://github.com/visionmedia/express.git
[submodule "support/htmlparser"]
	path = support/htmlparser
	url = git://github.com/tautologistics/node-htmlparser.git
[submodule "support/connect"]
	path = support/connect
	url = git://github.com/senchalabs/connect.git
